/* Filter Style */

.select-container {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    gap: 50px;
}

.select-container-item {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 5px;
}

.select-container-item label{
    color: #35CE8D;
    font-weight: bold;
}

.select-container-item select{
    width: 170px;
    height: 50px;
    background-color: #f7f7fd;
    border: none;
    border-radius: 4px;
    padding: 20px;
}